@page "/parallels"
@using НеверовАнализУязвимостейПО.Models.DataBase
@using НеверовАнализУязвимостейПО.Models.DataBase.Schema
@inject DataBaseContext DBContext
<PageTitle>Параллели</PageTitle>


<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h2> Параллели </h2>
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>

                    <th scope="col">
                        ID
                    </th>

                    <th scope="col">
                        Параллель
                    </th>

                </tr>
                </thead>

                @foreach (var p in _parallelsList)
                {
                    <tbody>
                    <tr>
                        <td>
                            @p.Id
                        </td>
                        <td>
                            @p.Parallel
                        </td>
                    </tr>
                    </tbody>
                }

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


@code
{
    private List<ClassParallels> _parallelsList;
    
    protected override void OnInitialized()
    {
        _parallelsList = DBContext.ClassParallels.ToList();
    }
}