.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  margin-top: 30px;
}

body {
  text-align: center;
  padding-top: 90px;
  padding-left: 60px;
  padding-right: 40px;
}

/* Заголовки */
.head {
  margin-bottom: 30px;
  text-align: center;
}

/* Главный блок */
.mainblock{
  float: left;
  width: 65%;
}
.main{
  text-align: center;
}
.mainblockClass{
  float: left;
  width: 30%;
}

.baton{
  padding-top: 23px;
}
.search{
  float: right;
}

/* Таблицы */
.delete {
  width: 50px;
}

table {
  background-color: #D3D3D3;
  overflow-x: auto;
}

thead {
  background-color:#202329;
  color: white;
  position: sticky;
  top: 0;
  text-align: center;
}

.scrollbar{
  position: relative;
  overflow: auto;
  margin-top: 10px;
  height: 500px;
}

/* Блок добавления */
.blockadd{
  float: right;
  width: 30%;
}
.blockaddClass{
  float: left;
  width: 45%;
  margin-left: 10%;
}
.addform{
  background-color: #D3D3D3;
  padding: 10px;
}
.sub{
  margin-left: 11px;
}

/* Авторизация */
.auth{
  background-color: #D3D3D3;
  width: 450px;
  height: 170px;
  margin-top: 65px;
  text-align: center;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}
.img1 {
  height: 150px;
  width: 150px;
}
.lol{
  margin-top: -25px;
  position: relative;
  text-align: center;
}
.bat{
  margin-top: 15px;
}

